.hero{
    background:url('../img/banner.jpg') no-repeat bottom center;
    background-size: cover;
    height: 100vh;

    a{
    position: fixed;   
    top: 230px;
    left: 89.6%; 
    z-index: 999;

    img{
      height: 13vh;  
    }
    }
}

@media (min-width:460px) and (max-width:1550px){
  .hero{
   

    a{
      display: none;
    position: fixed;   
    top: 330px;
    right: 0; 
    z-index: 999;
    }
  }  

}